<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="icon" type="image/x-icon" href="@/static/favicon.ico">
    <link rel="stylesheet" href="@/static/mccole.css" type="text/css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  </head>
  <body>
    <nav>
      <a href="@/">Home</a>
      &middot;
      <span class="dropdown">
	<a href="#">Lessons</a>
	<span id="nav-lessons" class="dropdown-content">
          <a href="@/01_intro/">Introduction</a>
          <a href="@/02_basic/">Basic Tools</a>
          <a href="@/03_robust/">Robust Analysis</a>
          <a href="@/04_hypotest/">Hypothesis Testing</a>
          <a href="@/05_largenum/">The Law of Large Numbers</a>
          <a href="@/06_nonpar/">Non-Parametric Statistics</a>
	</span>
      </span>
      &middot;
      <span class="dropdown">
        <a href="#">Extras</a>
        <span id="nav-extras" class="dropdown-content">
	  <a href="@/license/">License</a>
	  <a href="@/conduct/">Code of Conduct</a>
	  <a href="@/contrib/">Contributing</a>
	  <a href="@/bibliography/">Bibliography</a>
	  <a href="@/glossary/">Glossary</a>
	  <a href="@/theory/">Theory</a>
        </span>
      </span>
    </nav>
    <main>
{{content}}
    </main>
    <footer>
      <a href="@/">Data Science for Software Engineers</a>
      copyright &copy; 2025
      <a href="@/01_intro/#acknowledgments">the authors</a>
    </footer>
  </body>
</html>
